<!DOCTYPE html>
{% extends 'Dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="table-responsive">
                <table class="table text-nowrap align-middle mb-0">
                  <thead>
                    <tr class="border-2 border-bottom border-primary border-0">
                      <th scope="col" class="text-center">Name</th>
                      <th scope="col" class="text-center">Email</th>
                      <th scope="col" class="text-center">mobile Number</th>
                    </tr>
                  </thead>
                  <tbody class="table-group-divider">

                  {% for u in user %}
                    <tr>
                      <td class="text-center fw-medium">{{u.Name}}</td>
                      <td class="text-center fw-medium">{{u.Email}}</td>
                      <td class="text-center fw-medium">{{u.Mobile}}</td>
                    </tr>
                  {% endfor %}
				  </tbody>

	</div>
</body>
</html>
{% endblock %}